.name {
    font-size: 24px;
    color: #ea8686;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: 10px;
    border: 1px solid #4e4eb9;
    border-radius: 4px;
    text-align: center;
  }
  